@{
    ViewData["Title"] = "Панель Администратора";
}
<h3>Таблицы</h3>
<ul class="list-group">
    <li class="list-group-item"><a href="~/Publisher/Publishers">Издательства</a></li>
    <li class="list-group-item"><a href="~/Author/Authors">Авторы</a></li>
    <li class="list-group-item"><a href="~/Book/Books">Книги</a></li>
    <li class="list-group-item"><a href="~/User/Users">Пользователи</a></li>
    <li class="list-group-item"><a href="~/Questionnaire/Questionnaires">Тестирования</a></li>
    <li class="list-group-item"><a href="~/Response/ResponseSessions">Результаты пользователей</a></li>
</ul>