@model Questionnaire
@{    
    ViewData["Title"] = "Загрузка вопросов из текстового файла";
}
<h3>Загрузка вопросов из текстового файла</h3>
@using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data" })) {
    <input type="hidden" value="@Model.Id" name="Id" />
    Html.ValidationSummary(false, "", new { @class = "text-danger" });
    <input type="text" class="form-control" readonly asp-for="Name" />
    <br />
    <p>
        Прикрепите файл в формате Aiken
        <input required name="file" type="file" accept=".txt" class="form-control-file" />
    </p>
    <p>
        <input type="submit" class="btn btn-primary" value="Загрузить вопросы" />
    </p>
}